.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}

.esconde{
	display: none;
}

.mostra{
	display: block;
}

.erro{
	border-color: red;
}

.msg_erro{
	color: red;
    font-weight: bold;
}


select option{
	background-color: steelblue;
}

#adubacao{
	font-size: 1.3em;
}
#label_cultura{
	max-width:20%;
}

.espaco_abaixo{
	padding: 3% 0 3% 0;
}